@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.heading{
    font-family: 'Roboto Slab', serif;
}

.extra-space{
    height: 13vh;
}

.teacher-image{
    width: 70%;
    border-radius: 50%;
    object-fit: scale-down;
}

.avatar {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
}

.middle .inner{
    height: 100%;
}

#contactus .middle{
    flex-grow: 1;
}

.footer ul {
    list-style: none;
}

.footer{
    padding: 30px 0px;
    min-height: 20vh;
    background-color: black;
}

.card-footer{
    width: 100%;
}

.phone{
    color: green;
}

.location{
    color: blue;
}